name: Daily Finance Alert
on:
  schedule:
    - cron: '30 3 * * *' # 3:30 AM UTC = 9:00 AM IST
  workflow_dispatch: # Allows you to trigger it manually

jobs:
  run-notifier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install pandas mftool ta requests
      - name: Run Notifier
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python notifier.py
